<mat-toolbar class="mt-5" color="warn">

    <mat-toolbar-row>
        <div class="d-flex justify-content-center">
            <span><a href="https://www.instagram.com/andreseurd/" target="_blank"><i
                        class="fab fa-instagram"></i></a></span>
            <span><a href="www.linkedin.com/in/andres-urd" target="_blank"><i class="fab fa-linkedin"></i></a></span>
            <span><a href="mailto:aeum3893@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></span>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="d-flex justify-content-center">
        <span style="font-size: 1rem; font-weight: 100;">&copy; 2020 Made by Andres Urdaneta,
            <a href="https://andresurdaneta.com/" target="_blank" id="personal-link">www.andresurdaneta.com</a></span>
    </mat-toolbar-row>

</mat-toolbar>