<!-- Total Deaths -->
<div class="container mt-5 d-flex justify-content-around">
    <div class="d-flex flex-column">
        <h1 class="total-header mb-2">Deaths</h1>
        <h2 class="d-flex justify-content-center total-data" style="color: #F44336">{{ totalDeaths }}</h2>
    </div>
    <!-- Total Cases -->
    <div class="d-flex flex-column">
        <h1 class="total-header mb-2">COVID-19 Cases</h1>
        <h2 class="d-flex justify-content-center total-data" style="color: #FF9800">{{ totalCases }}</h2>
    </div>
    <!-- Total Recovered -->
    <div class="d-flex flex-column">
        <h1 class="total-header mb-2">Recovered</h1>
        <h2 class="d-flex justify-content-center total-data" style="color:#8BC34A">{{ totalRecov }}</h2>
    </div>
</div>